<?xml version='1.0' encoding='utf-8'?>
<widget id="com.space.shooter" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Space shooter</name>
    <description>This a game that uses cordova </description>
    <author email="johndelvin51@gmail.com" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
    <icon src="res/icon/icon.png" />
    <preference name="BackgroundColor" value="0x000000"/>
    <preference name="HideKeyboardFormAccessoryBar" value="true"/>
    <preference name="Orientation" value="landscape" />
  </platform>
  </widget>

